<!DOCTYPE html>
<html>
  <%-include partials/head.ejs%>
  <body>
    <h1>Daftar Drivers</h1>
    <a href="/drivers/add"><button>Add</button></a>
    <table border='2px'>
      <thead>
        <tr>
          <th>ID </th>
          <th>Nama Driver </th>
          <th>Telepon </th>
        </tr>
      </thead>
      <tbody>
        <TR>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        </TR>
      </tbody>
    </table>
  </body>
  <%-include partials/footer.ejs%>
</html>
