<!DOCTYPE html>
<html>
  <%-include partials/head.ejs%>
  <body>
    <h1>Daftar Parkir</h1>
    <a href="/parkir/add"><button>Add</button></a>
    <a href="/spots/spotkosong"><button>Cari Spot Kosong</button></a>
    <table border='2px'>
      <thead>
        <tr>
          <th>Plat Nomor</th>
          <th>Drivers</th>
          <th>Lantai </th>
          <th>Spot  </th>
          <th>Status </th>
        </tr>
      </thead>
      <tbody>
        <TR>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        <td>
          <select>
            <option value="kosong"> Kosong </option>
            <option value="isi"> Isi </option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </body>

  <%-include partials/footer.ejs%>
</html>
