<!DOCTYPE html>
<html>
  <%-include partials/head.ejs%>
  <body>
    <h1>Spot Parkir Kosong</h1>
    <table border='2px'>
      <thead>
        <tr>
          <th>Lantai </th>
          <th>Spot  </th>
          <th>Status </th>

        </tr>
      </thead>
      <tbody>
        <TR>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        <td>
          <select>
            <option value="kosong"> Kosong </option>
            <option value="isi"> Isi </option>
          </select>
        </td>
              </TR>
      </tbody>
    </table>
  </body>

  <%-include partials/footer.ejs%>
</html>
