<!DOCTYPE html>
<html>
<%-include partials/head.ejs%>

  <body>
    <h1>Daftar Parkir</h1>
    <a href="/spots/add"><button>Add</button></a>
    <a href="/spots/spotkosong"><button>Cari Spot Kosong</button></a>
    <table border='2px'>
      <thead>
        <tr>
          <th class="text-center">Plat Nomor</th>
          <th class="text-center">Drivers</th>
          <th class="text-center">Lantai</th>
          <th class="text-center">Spot</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <TR>
          <TD>
            ISI DATANYA
          </TD>
          <td>
            <select>
            <<option value="">Hary</option>
            <<option value="">Bani</option>
          </select>
          </td>
          <td>
            <select>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Plat Nomor ..." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th>Plat No</th>
    <th>Drivers</th>
    <th>SPOT</th>
    <th>Jam Masuk</th>
    <th>Jam Keluar</th>
    <th>Durasi</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
          </select>
          </td>
          <TD>
            ISI DATANYA
          </TD>
          <TD>
            ISI DATANYA
          </TD>
          <td>
            <select>
            <option value="kosong"> Kosong </option>
            <option value="isi"> Isi </option>
          </select>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

  <%-include partials/footer.ejs%>

</html>
