<!DOCTYPE html>
<html>
  <%-include partials/head.ejs%>
  <body>
    <h1>Transaksi Valet</h1>
    <a href="/transaksi"><button>Add</button></a>
    <table border='2px'>
      <thead>
        <tr>
          <th>Plat Nomor</th>
          <th>Jam Masuk</th>
          <th>Jam Keluar </th>
          <th>Durasi  </th>
          <th>Harga </th>
        </tr>
      </thead>
      <tbody>
        <TR>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        <TD>
          ISI DATANYA
        </TD>
        </TR>
      </tbody>
    </table>
  </body>
  <%-include partials/footer.ejs%>
</html>
